@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Epam. Summer training.<br />
    Grodno<br />
    <abbr title="Phone">P:</abbr>
    +375 29 868 07 37
</address>

<address>
    <strong>Support:</strong><a href="mailto:kocheryga@ya.ru">kocheryga@ya.ru</a><br />
</address>