@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Annotation:</h1>
    <p class="lead">This is my first programm on MVC pattern.</p>
    <p><a href="https://github.com/MikeHaevsky/Task5" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>#1</h2>
        <p>Authorize and choose the menu item.</p>
    </div>
    <div class="col-md-4">
        <h2>#2</h2>
        <p>This programm build by trial and error.</p>
    </div>
    <div class="col-md-4">
        <h2>#3</h2>
        <p>Please bear with my meager skills...</p>
    </div>
</div>